---
// server side code at build time
import Sun from './components/icon1.astro'
import SolarPanel from './components/icon2.astro'
import EvCharger from './components/icon3.astro'
import Battery from './components/icon4.astro'
import OutletHouse from './components/icon5.astro'

import '../styles/icons.css'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Animated SVG Icon Set</title>
	</head>
	<body>

		<!-- Load icons as separate components -->
		<div class="icon-grid">
			<Sun />
			<SolarPanel />
			<EvCharger />
			<Battery />
			<OutletHouse />
		</div>

	</body>
</html>
